<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<!-- Sử dụng head Fragment -->
<head th:replace="fragments/_layout::head('Devmaster::Trang chủ')">
    <title>Nguyễn Quang Tâm</title>
</head>
<body>
    <!-- Sử dụng Header Fragment -->
    <header th:replace="fragments/_layout::header"></header>

    <!-- Sử dụng Menu Fragment / Chèn menu -->
    <nav th:insert="fragments/_layout::menu"></nav>

    <!-- Nội dung chính của trang chủ -->
    <section class="container" style="min-height: 268px">
        <div>
            <h1>Đây là trang chủ</h1>
        </div>
        <a th:href="@{/profile}" class="btn btn-success">NQT Profile</a>
    </section>

    <!-- Sử dụng Footer Fragment -->
    <footer th:replace="fragments/_layout::footer"></footer>
</body>
</html>

